<div class="w-full h-screen flex items-center justify-center">
  <div class="h-96 flex flex-nowrap justify-start">
    <!-- Input and label for first slide (c1) -->
    <input type="radio" name="slide" id="c1" />
    <label
      for="c1"
      class="w-20 rounded-xl bg-cover cursor-pointer overflow-hidden rounded-3xl my-0 mx-2 flex items-end transition-colors shadow-lg peer-checked:h-[300px] peer-checked:opacity-100 transition-all"
    >
      <div class="text-white flex flex-nowrap">
        <div
          class="bg-[#223] text-white rounded-full w-12 h-12 flex justify-center items-center m-4"
        >
          1
        </div>
        <div
          class="flex justify-center flex-col overflow-hidden h-20 w-[520px] opacity-0 transform translate-y-[30px] transition-all peer-checked:opacity-100 peer-checked:translate-y-0 peer-checked:h-40 transition-all"
        >
          <h4 class="uppercase">Winter</h4>
          <p class="text-[#b0b0ba] pt-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </label>

    <!-- Input and label for second slide (c2) -->
    <input type="radio" name="slide" id="c2" />
    <label
      for="c2"
      class="w-20 rounded-xl bg-cover cursor-pointer overflow-hidden rounded-3xl my-0 mx-2 flex items-end transition-colors shadow-lg peer-checked:w-[600px] peer-checked:h-[300px] peer-checked:opacity-100 transition-all"
    >
      <div class="text-white flex flex-nowrap">
        <div
          class="bg-[#223] text-white rounded-full w-12 h-12 flex justify-center items-center m-4"
        >
          2
        </div>
        <div
          class="flex justify-center flex-col overflow-hidden h-20 w-[520px] opacity-0 transform translate-y-[30px] transition-all peer-checked:opacity-100 peer-checked:translate-y-0 peer-checked:h-40 transition-all"
        >
          <h4 class="uppercase">Dinter</h4>
          <p class="text-[#b0b0ba] pt-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </label>

    <!-- Input and label for third slide (c3) -->
    <input type="radio" name="slide" id="c3" />
    <label
      for="c3"
      class="w-20 rounded-xl bg-cover cursor-pointer overflow-hidden rounded-3xl my-0 mx-2 flex items-end transition-colors shadow-lg peer-checked:w-[600px] peer-checked:h-[300px] peer-checked:opacity-100 transition-all"
    >
      <div class="text-white flex flex-nowrap">
        <div
          class="bg-[#223] text-white rounded-full w-12 h-12 flex justify-center items-center m-4"
        >
          3
        </div>
        <div
          class="flex justify-center flex-col overflow-hidden h-20 w-[520px] opacity-0 transform translate-y-[30px] transition-all peer-checked:opacity-100 peer-checked:translate-y-0 peer-checked:h-40 transition-all"
        >
          <h4 class="uppercase">Ainter</h4>
          <p class="text-[#b0b0ba] pt-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </label>

    <!-- Input and label for fourth slide (c4) -->
    <input class="peer hidden" type="radio" name="slide" id="c4" />
    <label
      for="c4"
      class="w-20 rounded-xl bg-cover cursor-pointer overflow-hidden rounded-3xl my-0 mx-2 flex items-end transition-colors shadow-lg peer-checked:w-[600px] peer-checked:h-[300px] peer-checked:opacity-100 transition-all"
    >
      <div class="text-white flex flex-nowrap">
        <div
          class="bg-[#223] text-white rounded-full w-12 h-12 flex justify-center items-center m-4"
        >
          4
        </div>
        <div
          class="flex justify-center flex-col overflow-hidden h-20 w-[520px] opacity-0 transform translate-y-[30px] transition-all peer-checked:translate-y-0 peer-checked:h-40 transition-all"
        >
          <h4 class="uppercase">Winter</h4>
          <p class="text-[#b0b0ba] pt-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </label>
  </div>
</div>
