<footer
  class="w-full border-primary border-t-2 flex-col md:flex-row justify-center items-center md:justify-between flex pt-6 pb-20 gap-y-10"
>
  <span class="text-primary text-center">
    ©️ 2024 Los Reyes <span aria-hidden class="hidden md:inline">|</span><br
      aria-hidden
      class="block md:hidden"
    /> Todos los derechos reservados
  </span>

  <ul class="flex flex-row gap-x-3 items-center">
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 transition inline-block"
        href="#"
        target="_blank"
        rel="noopener"
      >
        <img src="./Instagram.svg" alt="Logo de intagram" />
      </a>
    </li>
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 transition inline-block"
        href="#"
        target="_blank"
        rel="noopener"
      >
        <img src="./Facebook.svg" alt="Logo de Facebook" /></a
      >
    </li>
  </ul>
</footer>
