---
import HeroLogo from "src/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span
    class="text-xl uppercase text-secondary bg-primary px-6 py-1 mb-6 font-medium"
    >Cafetería Los Reyes</span
  >
  <HeroLogo />
</section>
